<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CRUD MongoDB</title>
    <style>
        .container {
            max-width: 960px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="shadow-lg pb-3 px-3 mb-5 bg-body rounded">
            <h4>Datos del Alumno</h4>
            <form action="/crear" method="POST">

                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label for="edad" class="form-label">Edad</label>
                    <input type="number" id="edad" name="edad" class="form-control" required>
                </div>
        </div>

                <button type="submit" class="w-100 btn btn-guardar btn-lg"><i class="bi bi-save"></i> Registrar Carga</button>
            </form>

        <table id="tablaAlumnos" class="table mt-4">
            <thead>
                <tr>
                    <th style="display: none;">ID</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% alumnos.forEach( (alumno) =>{ %>
                    <tr>
                        <td style="display: none;"><%= alumno._id %></td>
                        <td><%= alumno.nombre %></td>
                        <td><%= alumno.edad %></td>
                        <td>
                            <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                            <a href="/borrar/<%= alumno._id %>" class="btn btn-outline-danger bi bi-trash"></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <!-- Modal para Editar -->
    <div id="modalAlumno" class="modal fade" tabindex="-1" aria-labelledby="modalAlumno" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="exampleModalLabel">Editar Info</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/editar" method="POST">
                
                    <input type="text" name="id_editar" id="id_editar" hidden>
    
                    <div class="mb-3">
                        <label for="nombre_editar" class="col-form-label">Nombre:</label>
                        <input type="text" id="nombre_editar" name="nombre_editar" class="form-control" value="">
                    </div>
    
                    <div class="mb-3">
                        <label for="edad_editar" class="col-form-label">Edad:</label>
                        <input type="number" id="edad_editar" name="edad_editar" class="form-control" value="">
                    </div>
                
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </form>
          </div>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="js/code.js"></script>
</body>

</html>