/* Estilos boton GUARDAR */
.btn-guardar{
    width: 100%;
    padding: 15px;
    background-color: #20c997;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #fff;
}

.btn-guardar:hover,
.btn-guardar:active{/* cuando hacemos click */
    color: #fff;
    background-color: #13795b;
    border-color: #13795b;
}

.btn-guardar:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}